* {
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    background: url('images/recipes-background.jpg');
    margin: 0 10px 10px 10px;;
}

body.recipe {
    background: none;
}

.menu {
    width: 400px;
    margin: 0 auto;
    text-align: center;
    background: #FAFAFA80;
    padding: 20px 20px 50px;
    margin-top: 100px;
}

h1, h2 {
    font-family: "Merriweather", serif;
    color: #000000;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    padding-bottom: 10px;
}

.menu a {
    color: #000000;
}

.menu a:hover {
    color: #00A86B;
}

.recipe img {
    width: 400px;
}

.recipe .recipe-title {
    position: sticky;
    background: #FFFFFF;
    margin: 0;
    width: 100%;
    top: 0;
}